body {
  margin: 0;
}

.app {
  height: 100%;
  min-height: 100vh;
  font-family: $main-font;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a,
  button {
    font-family: $main-font;
  }
}

.navigation {
  width: 100%;
  max-width: 1200px;
  height: 70px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  justify-content: center;
  .main__logo {
    img {
      height: 48px;
      width: 120px;
    }
  }
  .menu__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    a {
      padding: 8px 16px;
      text-decoration: none;
    }
  }
  .navigation__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      padding: 8px 16px;
      border: solid 1px transparent;
      border-radius: 24px;
      background-color: transparent;
    }
  }
  .account__wrapper {
    position: relative;
  }
  .account__container {
    position: absolute;
    backdrop-filter: blur(10px);
    background-color: RGBA(255, 255, 255, 0.5);
    top: 50px;
    right: 0;
    box-shadow: $shadow-4;
    padding: 16px;
    border-radius: 8px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 5;
    a {
      text-decoration: none;
      width: 100%;
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      gap: 8px;
    }
  }
}

.app__body {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 446px);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 8px;
  height: 360px;
  img {
    height: 40px;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    a {
      text-decoration: none;
    }
    .link__img {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 8px;
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.app--light {
  background-color: $light-color-2;
  color: $dark-color-1;
  transition: $transition-slow;
  a {
    color: $dark-color-1;
  }
  button {
    color: $dark-color-1;
  }
  svg {
    color: $dark-color-1;
    height: 18px;
    width: 18px;
  }
  .divider {
    transition: $transition-slow;
    width: 100%;
    border: solid 1px $light-color-3;
  }
  .account__container,
  .cart__container {
    background-color: RGBA(255, 255, 255, 0.8);
  }
  .nav__mobile__menu {
    .mobile__menu {
      background-color: RGBA(255, 255, 255, 0.8);
    }
  }
}

.app--dark {
  background-color: $dark-color-2;
  color: $light-color-1;
  transition: $transition-slow;
  a {
    color: $light-color-1;
  }
  button {
    color: $light-color-1;
  }
  svg {
    color: $light-color-1;

    height: 18px;
    width: 18px;
  }
  .divider {
    transition: $transition-slow;
    width: 100%;
    border: solid 1px $dark-color-3;
  }
  .account__container,
  .cart__container {
    background-color: RGBA(17, 17, 17, 0.8);
  }
  .nav__mobile__menu {
    .mobile__menu {
      background-color: RGBA(17, 17, 17, 0.8);
    }
  }
}

.nav__mobile__menu {
  display: none;
}

@media screen and (max-width: 900px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .nav__mobile__menu {
    display: flex;
    position: relative;
    .button__menu {
      position: relative;
    }
    .mobile__menu {
      position: absolute;
      top: 70px;
      right: 0;
      padding: 16px;
      box-shadow: $shadow-4;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      backdrop-filter: blur(10px);
      a {
        text-decoration: none;
        padding: 16px;
      }
    }
  }
  .menu__items {
    display: none !important;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 32px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      a {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .nav__mobile__menu {
    display: flex;
    position: relative;
    .mobile__menu {
      position: absolute;
      top: 70px;
      right: 0;
      padding: 16px;
      height: 70vh;
      width: 70vw;
      box-shadow: $shadow-4;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 16px;
      backdrop-filter: blur(10px);
      a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .menu__items {
    display: none !important;
  }
}
