$primary-color-1: #9888fa;
$primary-color-2: #604ce0;
$primary-color-3: #4531c2;
$primary-color-4: #1C1063;
$primary-color-5: #fff;

$dark-color-1: #111;
$dark-color-2: #222;
$dark-color-3: #333;
$dark-color-4: #444;
$dark-color-5: #555;

$light-color-1: #fff;
$light-color-2: #fafafa;
$light-color-3: #eee;
$light-color-4: #eaeaea;
$light-color-5: #ddd;

$disabled-1: #777;
$disabled-2: #888;
$disabled-3: #999;
$disabled-4: #aaa;
$disabled-5: #bbb;

$error: #ff4949;
$warning: #ffcc3d;
$info: #2d8eff;
$success: #13ce66;
