$shadow-1: 0px 0px 8px RGBA(0, 0, 0, 0.12);
$shadow-1-hover: 0px 0px 12px RGBA(0, 0, 0, 0.2);
$shadow-1-focus: 0px 0px 4px RGBA(0, 0, 0, 0.2);

$shadow-2: 1px 1px 8px RGBA(0, 0, 0, 0.12);
$shadow-2-hover: 1px 1px 12px RGBA(0, 0, 0, 0.2);
$shadow-2-focus: 1px 1px 4px RGBA(0, 0, 0, 0.2);

$shadow-3: 2px 2px 8px RGBA(0, 0, 0, 0.12);
$shadow-3-hover: 2px 2px 12px RGBA(0, 0, 0, 0.2);
$shadow-3-focus: 2px 2px 4px RGBA(0, 0, 0, 0.2);

$shadow-4: 2px 2px 12px RGBA(0, 0, 0, 0.2);
$shadow-5: 4px 4px 16px RGBA(0, 0, 0, 0.2);
$shadow-6: 6px 6px 24px RGBA(0, 0, 0, 0.2);
