.auth {
  display: flex;
  flex-direction: column;
  margin: 32px;
  align-items: center;
  justify-content: stretch;
  .auth__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 360px;
    .auth__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 360px;
      form {
        display: flex;
        flex-direction: column;
        width: 360px;
        align-items: stretch;
        justify-content: stretch;
        gap: 16px;
        .auth__field {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: stretch;
          p {
            margin: 4px;
          }
        }
        .auth__action {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
        input {
          //box-shadow: $shadow-1;
          padding: 16px;
          border: solid 0px transparent;
          border-radius: 24px;
          font-family: $main-font;
          font-size: 16px;
          background-color: transparent;
          border: solid 1px #ddd;
        }
      }
    }
    .auth__divider {
      h6 {
        font-size: 16px;
        font-weight: 300;
        margin: 8px;
      }
    }
    .auth__provider {
      .google-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
      }
    }
    .auth__message {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.app--dark {
  .auth__main {
    form {
      input {
        //box-shadow: $shadow-1;
        padding: 16px;
        border: solid 0px transparent;
        border-radius: 24px;
        font-family: $main-font;
        font-size: 16px;
        background-color: transparent;
        border: solid 1px #ddd;
        color: #fff;
      }
    }
  }
}

.app--light {
  .auth__main {
    form {
      input {
        //box-shadow: $shadow-1;
        padding: 16px;
        border: solid 0px transparent;
        border-radius: 24px;
        font-family: $main-font;
        font-size: 16px;
        background-color: transparent;
        border: solid 1px #ddd;
        color: #333;
      }
    }
  }
}